@page
@model Uplers.TodoWebApp.Pages.Todo.CreateModel
@{
    ViewData["Title"] = "Todo";
}
<h2>Create</h2>

<h4>Todo</h4>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="todo.Name" class="control-label"></label>
                <input asp-for="todo.Name" class="form-control" />
                <span asp-validation-for="todo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="todo.IsComplete" class="control-label"></label>
                <input type="checkbox" asp-for="todo.IsComplete" />
                <span asp-validation-for="todo.IsComplete" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
